.ipynb_checkpoints/
/.ipynb_checkpoints/
*.~lock

*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.bit
*.bcf
*.fdb_latexmk
*.fls
# Sistema / editores
.DS_Store
Thumbs.db
desktop.ini
*.swp
*.swo
*~
.~lock*#
# Python / Jupyter
__pycache__/
*.pyc
.venv/
venv/
